:root {
  /*fonts*/
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;

  /* Text colors */
  --main-text-cl: #212121;
  --second-text-cl: #2196f3;
  --third-text-cl: #757575;
  --fourth-text-cl: #ffffff;

  /* backgrounds*/
  --accent-bg-cl: #ffffff;
  --second-bg-cl: #2f303a;
  --third-bg-cl: #2196f3;
}

.page {
  font-family: var(--main-font);
  color: var(--main-text-cl);
  background-color: var(--accent-bg-cl);
}

/* reset*/
h1,
h2,
h3,
h4, 
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
  display: flex;
}

.list nav{
  display: flex;
}
.logo-link {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-left: 25px;
  margin-right: 93px;
  text-decoration-line: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-header {
  color: #000000;
}

.list-item {
    display: flex;
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}
.list-link {
  text-decoration: none;
  color: currentColor;
}
.link:hover,
.link:focus {
  color: var(--second-text-cl);
}

.list-item-contact {
  color: var(--third-text-cl);
}

.current {
  color: var(--second-text-cl);
}

.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--fourth-text-cl);
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--fourth-text-cl);
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: var(--third-bg-cl);
}
/*прихований заголовок*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subtitle-text {
  color: var(--third-text-cl);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.team {
  background: #f5f4fa;
}
.title-card {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.text-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--third-text-cl);
}
.logo-footer {
  color: var(--fourth-text-cl);
}
.footer {
  background-color: var(--second-bg-cl);
}
.fact-address {
  text-decoration-line: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourth-text-cl);
}
.address {
    font-style: normal;
    text-decoration: none;
    text-decoration-line: none;
  }
  .address:hover,
  .address:focus {
    color: var(--second-text-cl);
  }
  .footer.address:hover {
    color: var(--second-text-cl);
  }
.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.button:hover,
.button:focus {
  color: var(--fourth-text-cl);
  background-color: var(--third-bg-cl);
}
.button {
  font-family: inherit;
  cursor: pointer;
  background: #f5f4fa;
  color: var(--main-text-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.title-works {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-works {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-text-cl);
}



